body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a{
  text-decoration:none;
}

/*table {
    border-spacing: 0;
}*/

fieldset,img {
    border: 0;
}

/*address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}*/

strong{
  font-weight: bold;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}

/*q:before,q:after {
    content:'';
}

abbr,acronym { border: 0;
}*/

/* Custom CSS
 * --------------------------------------- */
body{
  font-family: arial,helvetica;
  color: #F2F2F2;
}

h1{
  font-size: 6em;
}

h2{
  font-size: 6em;
}

p{
  font-size: 1.5em;
}

.content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* Section 1
 * --------------------------------------- */
#section1{
  background-color: #01A2A6;
}

#section1 h1{
  color: #fff;
}

#section1 p{
  color: #fff;
  opacity: 0.7;
}
#section1 li{
  opacity: 0.5;
  color: #4B4E50;
  font-size: 25px;
  text-decoration: underline;
}

#pianoHead {
  text-align: center;
  color: #FFFDFF;
}
#major-scale {
  width: 500px;
  height: 150px;
}
#minor-scale {
  width: 500px;
  height: 150px;
}
#blues-scale {
  width: 500px;
  height: 150px;
}

/* Section 2
 * --------------------------------------- */
#section2{
  background-color: #2EBE21;
}
#section2 h1{
  color: #fff;
}
#section2 p{
  opacity: 0.8;
}
#section2 li{
  /*opacity: 0.5;*/
  color: #F2F2F2;
  font-size: 25px;
  text-decoration: underline;
}
#section2 ul{
  padding: 25px;
}
#f-triad {
  width: 450px;
}
#rock {
  width: 450px;
}

/* Section 3
 * --------------------------------------- */
#section3{
  background-color: #2C3E50;
}
#section3 h1{
  color: #F2F2F2;
}
#section3 p{
  opacity: 0.6;
}
#section3 li{
  /*opacity: 0.5;*/
  color: #F2F2F2;
  font-size: 25px;
  text-decoration: underline;
}
#section3 ul{
  padding: 5px;
}

#double-stroke {
  width: 1000px;
  height: 150px;
}
#paradiddle {
  width: 1000px;
  height: 175px;
}
#flams {
  height: 120px;
  width: 600px;
}
#song {
  width: 500px;
}

/* Section 4
 * --------------------------------------- */
#section4{
  background-color: #fff;
}

#section4 h1{
  color: #4B4E50;
}

#section4 p{
  opacity: 0.5;
  color: #4B4E50;
}
#section4 li{
  opacity: 0.75;
  color: #4B4E50;
  font-size: 25px;
  text-decoration: underline;
}
#section4 ul{
  padding-top: 50px;
}
#gadd {
  height: 110px;
  width: 650px;
}
#bonham {
  width: 650px;
  height: 100px;
}
#milt {
  width: 650px;
  height: 100px;
}
/* Section 5
 * --------------------------------------- */
 #section5 {
  background-color: #00693E;
 }
#clock {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  margin-left: 38%;
  margin-top: -200px;
  /*position: fixed;*/
 }
 #section5 p{
  color: #fff;
  opacity: 0.7;
  margin-top: -50px;
 }
 #section5 #inst{
  opacity: 0.7;
 }
